{% extends "home.html" %}

{% block body%}

"This is me"

<div class = "container">

    <h1> Hello, welcome everyone </h1>

     <form id = "auth_form" action="{{ url_for('login')}}" method="POST">

        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <!-- Location (type hidden)-->
        <input type="hidden" name="location" id="locationField">

        <!-- Login button -->
        <input type="submit" value = "login" class = "btn_btn_login" onclick="setactionform('login')">
        
        <input type="button" value = "register" class = "btn_btn_login" onclick="setactionform('register')">
        
        <input type="button" value="Login with Google" class="btn_btn_login" id ="googleBtn">
        <br><br>
    </form>

</div>

<script>


    // Location part : 
    //navigator.geolocation is a built-in browser API.
    //getCurrentPosition() asks the user's device for the current GPS coordinates. Takes two arguments (success, erro)  

            navigator.geolocation.getCurrentPosition(pos => {
            const loc = pos.coords.latitude + "," + pos.coords.longitude;

            // 1. Fill the hidden form field (for username/password login)
            document.getElementById("locationField").value = loc;

            // 2. Store in session for Google login
            fetch("/save_location", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({ location: loc })
            });
            }, err => {
            console.log("Location error:", err);

            document.getElementById("locationField").value = "unknown";  // normal login

            fetch("/save_location", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({ location: "unknown" })
            });
            });
    
    //--------Location part ended-----------------------//
    
    function setactionform(action){
        let form = document.getElementById('auth_form')
        if (action == 'login'){
            form.action = "{{url_for('login')}}";
            form.method = 'post';
            form.submit();
        }
        else if (action == 'register'){
            form.action = "{{url_for('register')}}";
            form.method = 'post';
            form.submit();
        }
    }

    document.getElementById("googleBtn").onclick = function() {
        window.location.href = "{{ url_for('login_google') }}";
    }
</script>

{% endblock %} 